.notice {
    align-items: center;

    padding: var(--notice-padding, var(--space-5));
    border: var(--border-width-thin) solid var(--notice-border, var(--border-accent));
    border-radius: var(--radius-2xl);

    background-color: var(--accent-overlay-faint);
    box-shadow: var(--notice-shadow, var(--shadow-xs));

    &.compact {
        --notice-padding: var(--space-4);
    }

    &.subtle {
        --notice-border: var(--border-subtle);
    }

    &.accent {
        --notice-border: var(--border-accent-light);
    }

    &.no-shadow {
        --notice-shadow: var(--shadow-none);
    }

    .notice-content {
        display: grid;
        gap: var(--notice-content-gap, var(--space-2));

        &.xs {
            --notice-content-gap: var(--space-1);
        }
    }
}
