.placeholder {
    display: grid;
    place-items: center;

    width: 100%;

    border: var(--border-base);
    border-radius: var(--radius-md);

    background-color: var(--color-surface);
    overflow: hidden;
}
